#Mr Developer
*.pgc
*.pgd
#packages/
# SQL Server files
#############
## Windows detritus
# PDT-specific
# Backup & report files from converting an old project file to a newer
.DS_Store
[Bb]in/
# Unit test / coverage reports
.externalToolBuilders/
App_Data/*.ldf
# Locally stored "Eclipse launch configurations"
ClientBin/
.tox
generic/SkillInfo.js.REMOTE.js
*.py[co]
DocProject/Help/html
Desktop.ini
*.build.csdef
Project.sublime-workspace
## TODO: If you have NuGet Package Restore enabled, uncomment the next line
DocProject/Help/*.HxC
local.properties
# DotCover is a Code Coverage Tool
## Visual Studio
DocProject/buildhelp/
.project
# ReSharper is a .NET coding add-in
*.launch
*.pfx
[Dd]ebug/
_ReSharper*/
*.vspscc
*.sbr
*.vssscc
*.aps
.idea/scopes/scope_settings.xml
# Visual C++ cache files
/data/infos
csx
*.dbmdl
# Installer logs
parts/
/FruitSalad/node_modules
/node_modules/
*.tmp
## Python
.metadata
[Ss]tyle[Cc]op.*
# Packages
.idea/InfiniteSky.iml
#Translations
.loadpath
*.ilk
*_i.c
[Oo]bj/
*.pdb
.idea/misc.xml
_UpgradeReport_Files/
.idea/libraries/InfiniteSky_node_modules.xml
# NuGet Packages Directory
x64/
UpgradeLog*.XML
*.pydevproject
data/packets/t.pac
*.egg-info
/mongo
*.obj
*.pidb
*.user
run.bat - Shortcut.lnk
*.gpState
# Windows Store app package directory
*.tlh
*.tli
.mr.developer.cfg
*.tmp_proj
TSX_Client/TSX_Client/TSX_Client.vcxproj.filters
.cproject
*.tlb
DocProject/Help/Html2
*.Publish.xml
.idea/jsLibraryMappings.xml
_TeamCity*
*.sln.docstates
# User-specific files
*.[Rr]e[Ss]harper
.installed.cfg
dist/
/data/world
# NCrunch
*.meta
# TODO: Clean up this ignore file Remove stuff that will never be used in this project
# Mac crap
*.pubxml
Project.sublime-project
## Eclipse
ipch/
install.bat
# External tool builders
# Visual Studio profiler
public/log.txt
*.vsp
# DocProject is a documentation generator add-in
sql/
*.pch
# RIA/Silverlight projects
publish/
*.[Pp]ublish.xml
.settings/
# Guidance Automation Toolkit
.coverage
tmp/
~$*
*_p.c
node_modules
InfiniteSky.rar
## Ignore Visual Studio temporary files, build results, and
*.publishsettings
#################
*.vspx
*~
*.cachefile
bin/
*.egg
# Windows image file caches
# TeamCity is a build add-in
.idea/workspace.xml
.idea/vcs.xml
[Ee]xpress/
Thumbs.db
*.ncb
*.ncrunch*
*.swp
# Installshield output folder
itemactions-old.js
.buildpath
# Folder config file
[Rr]elease/
App_Data/*.mdf
*.opensdf
.idea/.name
/npm-cache/
develop-eggs/
[Bb]uild[Ll]og.*
*~.nib
/TSX_Client/lib/diStorm_x86_d.lib
generic/SkillInfo.js.BASE.js
build/
# Recycle Bin used on file shares
DocProject/Help/*.hhc
[Tt]est[Rr]esult*/
# Visual Studio version. Backup files are not needed, because we have git ;-)
*.scc
DocProject/Help/*.hhk
*.Cache
UpgradeLog*.htm
DocProject/Help/*.hhp
## files generated by popular Visual Studio add-ons.
/TSX_Client/lib/NtHookEngine_d.lib
# CDT-specific
*.log
.*crunch*.local.xml
# Windows Azure Build Output
sdist/
TSX_Client/TSX_Client.sln
public/html/log_editor.html
# MSTest test Results
# Others
DocProject/Help/*.HxT
run.bat
*.filters
*.dotCover
# Publish Web Output
# Click-Once directory
Generated_Code/
$RECYCLE.BIN/
*.suo
*.psess
*.bak
AppPackages/
var/
Backup*/
# Build results
generic/SkillInfo.js.LOCAL.js
*.rsp
/config.json
.idea/encodings.xml
pip-log.txt
eggs/
.builds
.classpath
*.mo
.idea/modules.xml
ehthumbs.db
old files/itemactions-old.js
*.sdf
*.WREGION